*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    font-size: 18px;
    background-color: #fff;

}

/* encabezado */

.header{
     background-color: #253062;
     text-align: center;
     padding: 5px 0px; 
}

.header-title{
    color:#fff;
    padding: 20px 0px;
    text-transform: uppercase;
}

.header-description{
    color: #fff;
    padding: 10px 0px;
}

/*Respuesta*/

.answer{
    text-align: center;
    padding: 10px 0;
}

.answer p{
    font-size:25px;
    font-weight: bold;
}

/*Contenedor de figuras*/

.figure{
    width:60%;
    margin: auto;
    overflow: hidden;
    max-width: 1000px;
}


/*Contenedor cajas*/

.box{
    width: 30%;
    height: 600px;
    border: 3px solid #253062;
    border-radius: 10px;
    margin: 15px;
    float:left;
}

/*Encabezado y main de la caja*/
.box-header{
    background-color: #253062;
    text-align: center;
    padding: 15px 0;
    color:#fff;

}

.box-main{
    /*Los elementos input y buttom los toma como texto, por eso se alinean al centro con un text-align*/
    text-align: center; 
    padding: 10px;
}

.box-main__text{
    font-size: 20px;
    font-weight: bold;

}

.box-main__input{
    height:40px;
    width:200px;
    font-size:18px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    padding: 10px;    
    color: #253062;
    border: solid #253062;
    border-radius: 5px;
}

.box-main__btn{
    background-color: #253062;
    color:#fff;
    width: 120px;
    font-size: 18px;
    padding:10px;
    margin: 5px;
    text-align: center;
    border-style: none;
    border-radius: 10px;
}

.box-main__btn:hover{
    background-color: #5e6eb6;
    cursor: pointer;
}

.box-main__btn:active{
    background-color: #42dee9;
}

/*Media Querys para realizar el sitio responivo*/

@media screen and (max-width:1499px){
    .figure{
        width: 100%;
    }
}

@media screen and (max-width:900px){
    
    .box{
        margin:13px;
    }
}

@media screen and (max-width:780px){
    
    .box{
        margin:10px;
    }
}

@media screen and (max-width:800px){
    
    .box{
        width: 90%;
        margin: 20px;
        height: auto;
    }

    .header-title{
        font-size: 20px;
    }

    .answer p{
        font-size: 20px;
    }
}