body{
    color: cornsilk;
    /*
    background-color: dodgerblue;
    background-image: url("/img/fondo.png");

    Para que la imagen no se repita:
    background-repeat: no-repeat;

    
    background-position: right top;
    */
    /*
    para mover la imagen mientras se baja
    background-attachment: scroll;
    */
    background-attachment: fixed;
    background: dodgerblue url("../img/fondo.png") no-repeat right top;
    background-size: cover;
}
h1{
    text-align: center;
    background-color: dodgerblue;
}