h1{
    text-align: center;
    color: #457b9d;
}

div.contenedor{
    width: 80%;
    height: 20%;
    margin: auto;
    border: 3px solid #000000;
    padding: 15px;
    color:aqua; 
}

 div.contenedor.descendiente p{
    background-color: bisque;
    
 }

 div.contenedor.hijo > p{
    background-color: #ffc6ff;
 }

 /* no selecciona los elementos de mismo nivel si no los externos (selecciona solo el primero)*/
 div.contenedor.adyacente + p{
    background-color: #caffbf;
 }

 div.contenedor.hermano ~ p{
    background-color: #9bf6ff
 }